@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0.2rem 0;
  width: auto;
  color: #67a799;
  border-bottom: 0.1px solid #67a799;
  background-color: rgba(105, 103, 115, 0.3);
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.nav-item {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: monospace;
  margin: 0 25px;
  list-style: none;
}

.navbar-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #67a799;
}

.navbar-link:hover {
  color: #67a799;
  transform: scale(1.2, 1.2);
  filter: drop-shadow(0 10px 6px #bdeae0);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('https://images.pexels.com/photos/3473569/pexels-photo-3473569.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-repeat: no-repeat;
  background-position: center;

  /* background-size: cover; */
}

.home-container {
  display: flex;
  flex-direction: row;
  margin: 10% auto;
  width: 40%;
}

.icons-container {
  text-align: center;

  /* justify-content: end; */
}

.home-content {
  padding: 2.5rem;
  color: #fffbfb;
}

.home-content > .greeting {
  font-size: 1.4rem;
  font-family: 'Roboto Mono', monospace;
}

.home-content > .name {
  font-style: italic;
  font-size: 3rem;
  animation-name: anime;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}

@keyframes anime {
  0% {
    color: #fffbfb;
    filter: drop-shadow(8px 10px 5px #fffbfb);
  }

  20% {
    color: #67a799;
    filter: drop-shadow(8px 10px 5px #67a799);
  }

  40% {
    color: #8fd95b;
    filter: drop-shadow(8px 10px 5px #8fd95b);
  }

  60% {
    color: #e1c153;
    filter: drop-shadow(8px 10px 5px #e1c153);
  }

  100% {
    color: #56dfe3;
    filter: drop-shadow(10px 10px 4px #56dfe3);
  }
}

.home-content > .career {
  font-size: 1.8rem;
  font-family: 'Roboto Mono', monospace;
}

.home-content > h6 {
  color: #9bc0b8;
}

.icon {
  opacity: 0.55;
  cursor: pointer;
  font-size: 1.6rem;
  border-radius: 50%;
  border: #67a799 solid 1px;
  background-color: rgba(105, 103, 115, 0.3);
  width: 45px;
  height: 45px;
  margin: 6px 0 0 0;
}

.icon > a {
  text-decoration: none;
  color: #fffbfb;
}

.linkedin:hover {
  opacity: 1;
  border: #fffbfb solid 1px;
  background-color: #0b66c3;
  color: #fffbfb;
}

.twitter:hover {
  opacity: 1;
  border: #fffbfb solid 1px;
  background-color: #1da1f2;
  color: #fffbfb;
}

.github:hover {
  opacity: 1;
  border: #fffbfb solid 1px;
  background-color: #3f3f3f;
  color: #fffbfb;
}

.angelist:hover {
  opacity: 1;
  border: #fffbfb solid 1px;
  background-color: #000;
  color: #fffbfb;
}

.medium:hover {
  opacity: 1;
  color: #000;
  background-color: #fffbfb;
  border: #000 solid 1px;
}

.medium:hover > a {
  color: #000;
}

.about {
  color: #fff;
}
